.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.userphoto img{
    width: 192px;
    height: 192px;
    border-radius: 50%;
    border: var(--primary) 7px solid ;
}
.name{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.name h1{
    color: var(--primary);
    margin: 0;
    font-size: var(--gm);
}

.name p{
    font-size: var(--sm);
    color: var(--secundary);
    margin: 0;
}

.icons{
    display: flex;
    gap: 26px;
    
}

@media (max-width: 720px){
    .profile{
        display: flex;
        flex-direction: column;
    }
    .name{
        display: flex;
        margin-top: 2rem ;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}