body{
    background-color: #0026ff;
}
h1{
    color: #ff0000;
}
p{
    font-style: italic;
}
ol li{
    font-size: 30px;
}
ul li{
    color: green;

}
ul{
    background-color: antiquewhite;
    margin: 10px;
}